*{
    margin: 0;
    padding: 0;
}
.container-md{
    display: block;
    margin:auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

.errorMessages{
    margin:auto;
    text-align: center;
    text-decoration-color: rgb(122, 11, 11);
}
.errorMessages:empty{ 
    display:none;
}
form {
    display: block;
    margin:auto
} 
h1{
    text-align:center;
}
nav ul li{
    float: right;
} 
.split{
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}
.left {
    left: 0;
    margin: auto;
}
.right {
    right: 0;
    margin: auto;
}
.logIn {
    margin:auto;
} 
.row h1{
    display: flex;
    justify-content: center;
}
/* #wrap{
    margin: 0px auto;
    background-color:rgba(128, 128, 128, 0.87);
    width: 950px;
    font-family: sans-serif;
    padding: 25px;
}

.form-box{
    display: inline-block;
    background-color: burlywood;
    width: 400px;
    min-height: 500px;
    padding: 25px;
    vertical-align: top;
    margin: 10px;
}

    .form-box form{
        margin: 25px;
    }
    
    .form-box input{
        display: block;
        margin: 10px;
    }

#errors {
    text-align: center;
    color: red;
    background-color: black;
    padding: 40px;
    height: 100px;
}

#posts {
    background-color: burlywood;
    padding: 25px;
    margin: 25px;
}

.one_post {
    background-color: teal;
    padding: 25px;
    margin: 25px;
    min-height: 100px;
}

.post{
    font-size: 16pt;
    text-align: center;
}

.poster {
    font-size: 11pt;
    text-align: center;
}

#write{
    text-align: center;
} */